<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static\ico.ico">
    <link rel="icon" href="static\ico.ico">
    <link rel="apple-touch-icon" href="static\ico.ico">


    <title>AceYourPlace</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/bootstrap/css/small-business.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="" alt="">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<img src="static/ico.ico" height = "64px" width = "64px">
             <!--   <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>-->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Heading Row -->
        <div class="row">
          <div id="map"></div>
              <img class="img-responsive img-rounded" src="http://www.barrowcadbury.org.uk/map.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h1><strong>AceYourPlace<strong></h1>
                <p>AceYourPlace is designed to help you find the best place in the UK for you to live.</p>

            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    Enter your priorities below
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h2>Tell us what's important to you</h2>
                 <form class="form-horizontal" action="/form" method="POST">
<fieldset>
<!-- Form Name -->
<legend>Out of one to ten</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Whereabouts do you want to live?</label>
  <div class="col-md-5">
    <select id="location_requested" name="selectbasic" class="form-control">
      <option value="1">Anywhere</option>
      <option value="2">South West</option>
      <option value="3">South East</option>
      <option value="4">London</option>
      <option value="5">East of England</option>
      <option value="6">West Midlands</option>
      <option value="7">East Midlands</option>
      <option value="8">North West</option>
      <option value="9">North East</option>
      <option value="10">Yorkshire and the Humber</option>
      <option value="11">North Wales</option>
      <option value="12">West Wales</option>
      <option value="13">South Wales</option>
      <option value="14">Mid Wales</option>
      <option value="15">Highland</option>
      <option value="16">Speyside</option>
      <option value="17">Lowland</option>
      <option value="18">Island</option>
      <option value="19">Islay</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">How much do you value low crime rates?</label>
  <div class="col-md-4">
    <select id="crime" name="crime" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="train">How much do you value your proximity to train stations?</label>
  <div class="col-md-4">
    <select id="train" name="train" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="education">How much do you value good education standards?</label>
  <div class="col-md-4">
    <select id="education" name="education" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="broadband">How much do you value broadband speed?</label>
  <div class="col-md-5">
    <select id="broaadband" name="broadband" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="noise">How much do you value your piece and quiet?</label>
  <div class="col-md-5">
    <select id="noise" name="noise" class="form-control">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

</fieldset>
<input class="btn btn-primary btn-lg" type="submit" value="Submit" />
</form>


            </div>
            <!-- /.col-md-4 -->
            <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <br><br>
                    <p>Copyright &copy; Finnian Anderson, John O'Hare, Dan Mather and Ben James; Ace Your Place 2014 </p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>

