<!DOCTYPE html>
<html>
  <head>
    <title>AceYourPlace "{{locations}}"</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
function initialise(){
  console.log("{{locations}}");
  var locations = [];
  {% for location in locations -%}
    locations.push([{{location[0]}}, {{location[1]}}]);
  {%- endfor %}

  console.log(locations);
  
  //console.log("location from url: ", locations)
  var mapOptions = {
    zoom: 4,
    center: new google.maps.LatLng(51.508742,-0.120850)
  };

  var map = new google.maps.Map(document.getElementById("map"), mapOptions);
  
  for (var i = 0; i < locations.length; i++){ // for lat/long in locations passed with url...
    console.log(locations[i][0]);
    console.log(locations[i][1]);
    var LatLng = new google.maps.LatLng(locations[i][0], locations[i][1]);
    var marker = new google.maps.Marker({
      position: LatLng,
      map: map,
      });
    marker.setMap(map);
    var infowindow = new google.maps.InfoWindow({
      content: "You should<br>live here!"
      });
    infowindow.open(map,marker);
  }
}

google.maps.event.addDomListener(window, 'load', initialise);
    </script>
  </head>
  <body>
    <div id="map"></div>
    <div id="lat"></div>
    <div id="long"></div>
    <script type="text/javascript">
    </script>
  </body>
</html>
