<!DOCTYPE html>
<html>
  <head>
    <title>{{location}} info</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
var Latlng = new google.maps.LatLng("{{latitude}}", "{{longitude}}");
var lat_long = [LatLng[0],LatLng[1]]
var mapOptions = {
  zoom: 4,
  center: lat_long
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);

var marker = new google.maps.Marker({
    position: lat_long,
    map: map,
    title:"Hello World!"
});
    </script>
  </head>
  <body>
    <div id="map"></div>
    <div id="lat"></div>
    <div id="long"></div>
    <script type="text/javascript">
    document.getElementById('lat').innerHTML = "Latitude: " + lat_long[0];
    document.getElementById('long').innerHTML = "Longitude: " + lng;
    </script>
  </body>
</html>