<!DOCTYPE html>
<html>
  <head>
    <title>{{location}} info</title>
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>


function initialize() {
  var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
  var mapOptions = {
    zoom: 4,
    center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map'), mapOptions);

  var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });
}

google.maps.event.addDomListener(window, 'load', initialize);


function initialise(){
  var l = "{{location}}";
  var l_array;
  l_array = l.split("!");
  console.log(l_array);
  var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(52.5684920077, 1.7113595535)
  };

  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  for (var i = 0; i < l_array.length; i++){ // for lat/long in locations passed with url...
    var LatLng = new google.maps.LatLng(l_array[i]);
    var marker = new google.maps.Marker({
      position: LatLng,
      map: map,
      title:"You should live here!"
      });
  }
  console.log(locations);
}

google.maps.event.addDomListener(window, 'load', initialise);
    </script>
  </head>
  <body>
    <div id="map"></div>
    <div id="lat"></div>
    <div id="long"></div>
    <script type="text/javascript">
    </script>
  </body>
</html>